DATABASE_URL="postgresql://user:pwd@localhost:5432/wajs?schema=public"
JWT_SECRET=super_sangat_rahasia_sekali
BUN_PUBLIC_BASE_URL=http://localhost:3000
PORT=3000
WWEBJS_AUTH=./.wwebjs_auth
WWEBJS_CACHE=./.wwebjs_cache

WA_TOKEN=
WA_APP_SECRET=
WA_PHONE_NUMBER_ID=
WA_WEBHOOK_TOKEN=

APP_LOGS_PATH="./.logs"